
<div id="collapseExample" [ngbCollapse]="false">
    <div class="card">
      <div class="card-body">
       <h1>You are in profile page.You are in profile page.</h1> <h1>You are in profile page.</h1>
       <h1>You are in profile page.</h1>
       <h1>You are in profile page.</h1>
       <h1>You are in profile page.</h1>
       <h1>You are in profile page.</h1>
       <h1>You are in profile page.</h1>
       <h1>You are in profile page.</h1>
       <h1>You are in profile page.</h1>
      </div>
    </div>
  </div>
  
